[part="input-field"] {
    background-color: antiquewhite;
    color: black;
    border-style: solid;
    border-width: thin;
    border-color: gray;
}

:host([focused]) [part="input-field"] {
    color: black;
    background-color: white;
    opacity: 1;
    border-style: solid;
    border-width: thin;
    border-color: red;
}

:host([focused]:not([readonly])) [part="label"] {
    color: red;
}